body {
  background-color: RGBA(208, 208, 208, 1);
  font-size: 1em
}

div {
  float: left;
  padding-bottom: 200px;
  width:200px;
  margin: 30px;
  display: block;
  height: 100px;
}
button {
  font-size: 1em;
}

img {
  margin: auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
  border: 3px solid purple;
}

#tally {
  float: right;
  width:500px;
  margin: 30px;
}


td, th {
  width: 3rem;
  height: 2rem;
  border: 3px solid #ccc;
  text-align: center;
  background-color: grey;
  border-color: purple;
  color: white;
  }

